body{
  background-color: rgb(250,250,250);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
}
.container-cards{
  display: flex;

}
img-container{
  text-align: center;
  padding: 20px 0px;
}
.layout{
  border: 1px solid black;
  padding: 15px;
  border: 1px solid #d1c2c2;
  box-shadow: 9px 6px 2px #e5e5e5;
  padding: 15px;
  margin-left: 25px;
  border-radius: 5px;
}
.parent-infected {
  border-bottom: 12px solid cornflowerblue;
}
.recovered-infected{
  border-bottom: 12px solid #2cab6b;
}
.deaths-infected{
  border-bottom: 12px solid #e38272;
}
.text-p{
  width: 77%;
}
.cards-dates{
  color: dimgrey;
  font-size: 17px;
  font-family: sans-serif;
  margin-bottom: 6px;
}
.selectorOptions{
  width: 330px;
  font-size: large;
  background-color: transparent;
  margin-top: 30px;
  border: none;
  border-bottom:2px solid black ;
  border-left:1px solid black ;
  border-right:1px solid black ;
  border-radius: 3px;
}